.navbar_main {
  height: 3rem;
  background-image: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  color: bisque;
  font-size: 18px;
  font-weight: 400;
}
